@media (max-width: 1024px) {
    .header {
        justify-content: center;
    }

    .header .menu {
        display: none;
    }

    .home .informacoes {
        padding: 30px;
        justify-content: center;
    }

    .home .informacoes img {
        max-width: 100px;
    }

    .home .informacoes .titulo {
        font-size: 40px;
    }

    .compra .cartao {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .compra {
        padding: 30px;
    }

    .compra .container {
        flex-direction: column;
    }

    .compra .cartao {
        padding: 80px 20px;
        width: 100%;
    }

    .compra .informacoes h3 {
        font-size: 35px;
    }

    .compra .informacoes .lista-de-dispositivos {
        align-self: center;
    }

    .compra .informacoes .lista-de-dispositivos li {
        width: 100%;
    }

    .btn-plataforma {
        margin-top: 15px;
        padding: 15px;
    }

    .btn-comprar {
        width: 100%;
    }
}

@media (max-width: 425px) {
    main::after {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4) 100%, transparent 65%);
    }
}
